* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #b0b1df, #aca6d6, #a89ccd, #a591c4, #a286ba);
    font-family: 'Open Sans', sans-serif;
}

div{
    background-image: linear-gradient(to right, #b0b1df, #aca6d6, #a89ccd, #a591c4, #a286ba)
}
a {
    text-decoration: none;
}

/*Estilo para la barra de navegacion*/
/*General*/
.barra-navegacion {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 500;
}
.barranav ul {
    list-style: none;
}

.barranav li {
    line-height: 3rem;
    position: relative;
}

.barranav li ul {
    position: absolute;
}
.barranav a {
    color: #ddd;
    display: block;
    padding: 0 2.5em;
    transition: 0.3s;
}

.barranav a:hover {
    background: rgba(0, 0, 0, 0.5);
}

/*Primer Nivel*/
.barranav > .barra-superior {
    background-color: #333;
    display: flex;
    width: 100%;
}

/*Segundo Nivel*/
.barranav .item-barra-superior .item-barra-inferior {
    background: #222;
    max-height: 0;
    overflow: hidden;
    width: 180px;
    transition: all .4s ease-in-out 0s;
}

.barranav > .barra-superior > .item-barra-superior > .barra-inferior {
    top: 100%;
    z-index: 20;
}

.barranav .item-barra-superior:hover .item-barra-inferior {
    max-height: 500px;
    overflow: visible;
}

/*Para realizar el diseño responsivo*/
@media screen and (max-width: 800px) {
    .selectbox {
        width: 100%;
    }
}

/*Diseño para la pagina de inicio*/
.inicio {
    height: 95vh;
    background-image: linear-gradient(to top, rgba(251, 194, 235, 0.486) 0%, hsla(218, 68%, 79%, 0.514) 100%), url('/images/bc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo-div {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.titulo {
    padding: 0;
    height: 100%;
    font-size: 50px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Diseño para imagenes de consulta 1*/
.con1 {
    background-image: linear-gradient(to right, #b0b1df, #aca6d6, #a89ccd, #a591c4, #a286ba);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.cardc1 {
    width: 300px;
    height: 225px;
    background: rgb(0, 87, 128);
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .16);
}

.cardc1 img {
    position: absolute;
    min-height: 100%;
    width: 100%;
    border-radius: 10px;
}

.imagen-c1-content {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    padding: 0.4em 1.5em;
    font-size: 14px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transform: scale(0.9);
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, .164);
    box-shadow: 0 0 20px rgba(0, 0, 0, .144);
    overflow: hidden;
    transition: all .4s;
}

.imagen-c1-content p {
    font-size: 0.8em;
}

.cardc1:hover .imagen-c1-content {
    height: 150px;
}

/*Diseño para las tablas*/
.tabla-consulta-2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.error{
    justify-content: center;
    align-items: center;
    display: flex;
}

.error-imagen {
    margin-top: 50px;
}
table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #E1E5EE;
    background-color: #FFFFFF;
    text-align: left;
    overflow: auto;
}

thead {
    box-shadow: 0 5px 10px #E1E5EE;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td {
    padding: 1rem 2rem;
}

.ter{
    margin-left: 50px:
    color: red; 
}


.tmai{
    position: absolute;
    max-width: 700px;
    height: auto;
    font-family: candara;
    z-index: 2;
    top: 200;
    font-size: 30;
}


.imai{
    position: absolute;
    margin-top:50px;
    height: 600px;
    max-width: 400px;
    right: 0;
    top: 0;
}

/*Codigo para lector*/
.lector-pdf {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}