<%- include("templates/cabecera.ejs", {tituloPagina: "Error 404"}) %> 
<div class="error">
    <img class="error-imagen" src="/images/404.png">
</div>
<div class ="error">
    <h2>No existe la pagina solicitada</h2>
</div>
</html>
