<%- include("templates/cabecera.ejs", {tituloPagina: "Sobre nosotros"}) %>
<div class="con1">
    <div class="cardc1">
        <img src="/images/eric.jpeg" alt="" />
        <div class="imagen-c1-content">
        <h2>Eric Bravo Padilla</h2>
        <p>
            Estudiante de ingeniería telematica en UPIITA, en 7mo semestre de la U/A Base de 
            Datos Distribuidas.
        </p>
        </div>
    </div>

    <div class="cardc1">
        <img src="/images/jair.jpg" alt="" />
        <div class="imagen-c1-content">
        <h2>Heber Jair León Ramírez</h2>
        <p>
            Estudiante de ingeniería telematica en UPIITA, en 7mo semestre de la U/A Base de 
            Datos Distribuidas.
        </p>
        </div>
    </div>

    <div class="cardc1">
        <img src="/images/javet.jpg" alt="" />
        <div class="imagen-c1-content">
        <h2>Enrique Javet Sanchez Cerna</h2>
        <p>
            Estudiante de ingeniería telematica en UPIITA, en 7mo semestre de la U/A Base de 
            Datos Distribuidas.
        </p>
        </div>
    </div>

    <div class="cardc1">
        <img src="/images/chema.jpeg" alt="" />
        <div class="imagen-c1-content">
        <h2>José María Sanchez Lar</h2>
        <p>
            Estudiante de ingeniería telematica en UPIITA, en 7mo semestre de la U/A Base de 
            Datos Distribuidas.
        </p>
        </div>
    </div>
</div>
<%- include("templates/footer.ejs") %>