<%- include("templates/cabecera.ejs", {tituloPagina: "Consulta 1"}) %> 
<div class="con1">
    <div class="cardc1">
        <img src="/images/empleado1.jpg" alt="">
        <div class="imagen-c1-content">
            <h2>Alberto Jesus Morales Velez</h2>
            <p>Este vendendor cuenta con Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, possimus doloribus, magni qui delectus minus quis tempora ipsum beatae porro optio deleniti veniam repudiandae. Odio architecto illum provident quaerat? Asperiores.</p>
        </div>
    </div>

    <div class="cardc1">
        <img src="/images/empleado1.jpg" alt="">
        <div class="imagen-c1-content">
            <h2>Alberto Jesus Morales Velez</h2>
            <p>Este vendendor cuenta con Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, possimus doloribus, magni qui delectus minus quis tempora ipsum beatae porro optio deleniti veniam repudiandae. Odio architecto illum provident quaerat? Asperiores.</p>
        </div>
    </div>

    <div class="cardc1">
        <img src="/images/empleado1.jpg" alt="">
        <div class="imagen-c1-content">
            <h2>Alberto Jesus Morales Velez</h2>
            <p>Este vendendor cuenta con Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, possimus doloribus, magni qui delectus minus quis tempora ipsum beatae porro optio deleniti veniam repudiandae. Odio architecto illum provident quaerat? Asperiores.</p>
        </div>
    </div>
</div>
<%- include("templates/footer.ejs") %> 