<%- include("templates/cabecera.ejs", {tituloPagina: "Consulta 7"}) %>
   <section class="fondo"></section>
   <div class="tabla-consulta-2">
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Ordenes de venta totales</th>
                </tr>
            </thead>
            
            <tbody>
                <% for(let i = 0; i < customers.recordset.length; i++){%>
                <tr>
                    <td> <%= Customer.recordset[1]P.FirstName + " " 
                    + Customer.recordset[1]P.MiddleName + " " 
                    + Customer.recordset[1]P.LastName%></td>
                    <td><%= ventas.recordset[i].SalesOrderHeader%> ventas</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
<%- include("templates/footer.ejs") %>
