<%- include("templates/cabecera.ejs", {tituloPagina: "Consulta 7"}) %>
<div class="tabla-consulta-2">
    <table>
        <thead>
            <tr>
                <th>Nombre del vendedor</th>
                <th>Clientes asociados por correo electronico</th>
            </tr>
        </thead>
        
        <tbody>
            <% for(let i = 0; i < envio.recordset.length; i++){%>
            <tr>
                <td><%= envio.recordset[i].FirstName + " " +
                    envio.recordset[i].MiddleName+ " " +
                    envio.recordset[i].LastName%></td>
                <td><%= envio.recordset[i].Cliente %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<%- include("templates/footer.ejs") %>
