<%- include("templates/cabecera.ejs", {tituloPagina: "Consulta 9"}) %>
<div class="tabla-consulta-2">
    <table>
        <thead>
            <tr>
                <th>Tipo de publicidad</th>
                <th>Clientes asociados</th>
            </tr>
        </thead>
        
        <tbody>
            <% for(let i = 0; i < envio.recordset.length; i++){%>
            <tr>
                <td><%= envio.recordset[i].name %></td>
                <td><%= envio.recordset[i].Cliente %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<%- include("templates/footer.ejs") %>
