<%- include("templates/cabecera.ejs", {tituloPagina: "Pagina principal"}) %> 
    <div class = "caja">
        <%- include("templates/selectbox.ejs") %>
    </div>

    <iframe class="frame-preview", id="frameConsultas", width="100%", src = ""></iframe>
<%- include("templates/footer.ejs") %> 