<%- include("templates/cabecera.ejs", {tituloPagina: "Documento proyecto final"}) %> 
    <section class="lector-pdf">
        <embed src="/downloads/Propuesta_Documento.pdf" width="800" height="570" type="application/pdf">
    </section>
<%- include("templates/footer.ejs") %> 