<%- include("templates/cabecera.ejs", {tituloPagina: "Ventana principal"}) %> 
<div class="inicio">
    <h1 class="titulo">ADVENTURE WORKS Viviendo la vida rodada a rodada.</h1>
</div> 
<%- include("templates/footer.ejs") %> 
