<%- include("templates/cabecera.ejs", {tituloPagina: "Ventana principal"}) %> 
    <img src="/images/bc.jpg" class="imai">
    <section>
        <div class="tmai">
            <h1>¡Bienvenido! Seleccione en la barra de navegación la información que desee consultar.</h1>
        </div>
    </section>
<%- include("templates/footer.ejs") %> 
