<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title><%= tituloPagina %> </title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet"> 
	    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="barra-navegacion">
            <nav class="barranav">
                <ul class="barra-superior">
                    <li class="item-barra-superior"><a href="/">ADVENTURE WORKS</a></li>
                    <li class="item-barra-superior"><a href="/">INICIO</a></li>
                    <li class="item-barra-superior"><a href="/sobre-nosotros"> SOBRE NOSOTROS</a></li>
                    <li class="item-barra-superior"><a href="#">CONSULTAS</a>
                        <!--Barra de las consultas-->
                        <ul class="barra-inferior">
                            <li class="item-barra-inferior"><a href="/consulta1">CONSULTA 1</a></li>
                            <li class="item-barra-inferior"><a href="/consulta2">CONSULTA 2</a></li>
                            <li class="item-barra-inferior"><a href="/consulta3">CONSULTA 3</a></li>
                            <li class="item-barra-inferior"><a href="/consulta4">CONSULTA 4</a></li>
                            <li class="item-barra-inferior"><a href="/consulta5">CONSULTA 5</a></li>
                            <li class="item-barra-inferior"><a href="/consulta6">CONSULTA 6</a></li>
                            <li class="item-barra-inferior"><a href="/consulta7">CONSULTA 7</a></li>
                            <li class="item-barra-inferior"><a href="/consulta8">CONSULTA 8</a></li>
                            <li class="item-barra-inferior"><a href="/consulta9">CONSULTA 9</a></li>
                        </ul>
                    </li>
                    <li class="item-barra-superior"><a href="/propuesta">PROPUESTA DE SOLUCION</a></li>
            </nav>
        </div>