<div class="contenedor">
    <form action="rou">
        <div class="selectbox">
            <div class="select" id="select">
                <div class="contenido-select">
                    <h1 class="titulo">Seleccione la consulta.</h1>
                    <p class="descripcion">Conozca una introduccion a la consulta seleccionada.</p>
                </div>
                <i class="fas fa-angle-down"></i> <!--Flecha de seleccion-->
            </div>

            <!--Consulta 1-->
            <div class="opciones" id="opciones">
                <a href="/consulta1" class="opcion" id="consulta1">
                    <div class="contenido-opcion">
                        <div class="textos">
                            <h1 class="titulo">Obtener los 3 primeros empleados que han tenido las mayores ventas totales el año pasado.</h1>
                            <p class="descripcion">Conozca a nuestros 3 vendedores estrellas.</p>
                        </div>
                    </div>
                </a>

                <!--Consulta 2-->
                <a href="#" class="opcion" id="consulta2">
                    <div class="contenido-opcion">
                        <div class="textos">
                            <h1 class="titulo">El vendedor que vendió más por territorio.</h1>
                            <p class="descripcion">Conozca quien es el mejor vendedor de su territorio.</p>
                        </div>
                    </div>
                </a>

                <!--Consulta 3-->
                <a href="#" class="opcion" id="consulta3">
                    <div class="contenido-opcion">
                        <div class="textos">
                            <h1 class="titulo">Contar las órdenes de venta por tipo de envío.</h1>
                            <p class="descripcion">Descubra que tipo de envío manejamos.</p>
                        </div>
                    </div>
                </a>

                <!--Consulta 4-->
                <a href="#" class="opcion" id="consulta4">
                    <div class="contenido-opcion">
                        <div class="textos">
                            <h1 class="titulo">Añadir un método de envío.</h1>
                            <p class="descripcion">¿No encuentra un método de envío favorito? Indiquenos cual es el suyo.</p>
                        </div>
                    </div>
                </a>

                <!--Consulta 5-->
                <a href="#" class="opcion" id="consulta5">
                    <div class="contenido-opcion">
                        <div class="textos">
                            <h1 class="titulo">Listar a los clientes con respecto al método de envío que les llega la mercancía.</h1>
                            <p class="descripcion">Descubra que métodos de envío son los mas populares.</p>
                        </div>
                    </div>
                </a>

                <!--Consulta 6-->
                <a href="#" class="opcion" id="consulta6">
                    <div class="contenido-opcion">
                        <div class="textos">
                            <h1 class="titulo">Obtener la cantidad de órdenes de venta por territorio.</h1>
                            <p class="descripcion">Conozca a que territorios tenemos servicio.</p>
                        </div>
                    </div>
                </a>

                <!--Consulta 7-->
                <a href="#" class="opcion" id="consulta7">
                    <div class="contenido-opcion">
                        <div class="textos">
                            <h1 class="titulo">Obtener los clientes que han comprado asociados a que están recibiendo publicidad por correo electrónico.</h1>
                            <p class="descripcion">Nuestras campañas de marketing dan resultados.</p>
                        </div>
                    </div>
                </a>

                <!--Consulta 8-->
                <a href="#" class="opcion" id="consulta8">
                    <div class="contenido-opcion">
                        <div class="textos">
                            <h1 class="titulo">Obtener los tipos de razones de ventas de los clientes suscritos a publicidad por correo electrónico.</h1>
                            <p class="descripcion">Descubra cuales son las razones de exito de nuestras campañas de e-mail.</p>
                        </div>
                    </div>
                </a>

                <!--Consulta 9-->
                <a href="#" class="opcion" id="consulta9">
                    <div class="contenido-opcion">
                        <div class="textos">
                            <h1 class="titulo">Obtener las razones de venta de los clientes no suscritos a publicidad por correo electrónico.</h1>
                            <p class="descripcion">Nuestro marketing engloba más que campañas via e-mail.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <input type="hidden" name="consulta" id="inputSelected" value="">
    </form>   
</div>